html {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide {
  color: white;
}
.swiper-container {
    width: 60px;
    height: 30px;
}
canvas {
  /* display: flex; */
  /* flex: 1; */
  user-select: none;
  flex: 1;
/* flex: 5; */

  /* margin-right: 15px; */

}
.container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* flex-direction: column; */
  /* margin: 20px 100px 10px 100px; */
  flex: 1;
  /* flex: 1; */
  /* border: 2px solid red; */
  /* min-height: 40vh; */
  background-color: black;
  border: 8px outset #E4E3DF;
  min-height: 80vh;
  margin-top: 15px;
  min-width: 98vw;
}
.scope {
  border: 3px solid #646465;
  border-radius: 25px;
}

.scopes-container {
  display: flex;
  flex-direction: column;
  flex: 7 5;
  margin: 12px;
  position: relative;

}
.scope-container {
  position: relative;
  flex: 3;
  display: flex;
  justify-content:center;
  align-items:stretch;

}
.units-container {
  /* border: 2px solid red; */
  flex: 0.1;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  background-color: #8d98a3;
  box-shadow: -6px 4px 4px #565e66;
  padding: 4px;
  font-size: 16px;
  user-select: none;

}
.header-text {
text-align: center;
  color: white;

  /* margin: 2px; */
  position: absolute;
  z-index: 100;
  left: 36%;
  top: -50px;
  background-color: black;
  opacity: 0.8;
  user-select: none;
  border: 5px solid  rgba(190, 199, 206, .5);
  border-radius: 25px;
  padding: 5px;
}
#pause-button {
  align-self: stretch;
}
.controls-container {
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  /* justify-content: center; */
  flex: 2;
  /* align-items: center; */
  background-color: #c1c5c9;
  /* margin: 10px 15px; */
  /* padding: 2px; */
}
.controls-title {
  /* border: 2px solid red; */
  margin-top: 2px;
  font-size: 30px;
  /* flex: 1; */
  align-self: center;
}
.zoom-container {
  display: flex;
  flex:0.25;
  justify-content: space-around;
  margin-top: 5px;
  align-items: stretch;

}
.zoom-button {
padding: 2px 12px;
}
.scroll-container{
  /* border: 2px solid red; */
  flex: 4;
  flex-direction: column;
  /* align-items: center; */
  display: flex;
  position: relative;

}
.swiper-container {
  flex: 1;
  /* border: 2px solid black; */
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.swiper-indicator {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 20px;

}
button {
      border: none;
      text-decoration: none;
}
button:hover {
      color: white;
      background-color: #8d98a3;

}
button:focus {outline:0;}
